
.login-body{

    display: flex;
    padding: 3em;
}

.login-container{

    margin:auto;
    padding: 2em;
}

.welcome-body{
    background: url('image/eventbg.png');
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
.event-body{
    background-image: url('image/eventbg.png');
    height: 100%;
    display: flex;
    font-size: 18px;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
.event-details{
  margin: 0;
  padding: 0;
}
.mid-div{
    display: flex;
    align-items: start;
}

.image{
    margin: 0px 16px;
    height: 150px;
    border-width: 5px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px black;
}
.title-body{
    width: 100%;
    margin: 0px 16px;
    padding: 0px 16px;
}
.task-background{
  height: 100%;
  width: 100%;
  background: url('image/eventbg.png');
}

.title{
    font-size:xx-large;
    font-weight: bolder;
}
.event-title{
  font-size: 48px;
    font-weight: bolder;
}

.tutorial{
    margin: 8px 16px ;
    font-size: large;
}

.btn {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    z-index: 3;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
   }
   
   .btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .btn:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   .btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .btn:active {
    transform: scale(0.9);
   }

   .event-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
   }
   .card {
    width: 300px;
    height: 200px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 8px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    margin: 8px;
  }
  
  .card-content {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .card-textbody{
    width: 100%;
    height: fit-content;
  }
  .card-content .card-title {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
  }
  
  .card-content .card-para {
    color: inherit;
    opacity: 0.8;
    font-size: 16px;
  }
  
  .card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card:hover:before {
    transform: translateX(-100%);
  }
  
  .card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card:hover:after {
    transform: translateX(100%);
  }

  .title-bar{
    padding: 16px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card-div{
    display: flex;
    padding: 16px 16px;
    height: fit-content;
    border-radius: 15px;
    width:fit-content;
    background: linear-gradient(to right, #FF66C4, #5170FF);
    transition: transform 1.5s cubic-bezier(0.23, 1, 0.320, 1);
    flex-direction: column;
    justify-content: space-evenly;
}
.card-div:hover{
    transform: scale(1.02);
    transition: transform 1.5s cubic-bezier(0.23, 1, 0.320, 1);
    box-shadow: 0px 0px 16px blueviolet;
}
.top-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mid-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bottom-card{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.task-subtext{
    margin: 0;
    margin-left: 48px;
    padding: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.task-text{
    margin: 0px;
    margin-right: 48px;
    padding: 0px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.task-date{
    margin: 0px;
    margin-right: 48px;
    padding: 0px;
    font-size: 16px;
    opacity: 0.8;
    font-family: Arial, Helvetica, sans-serif;
}
.task-bottomtext{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.task-div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.form-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-div-controller{
  width: 50%;
} 
  
  
  
  