


.login-body{

    display: flex;
    padding: 3em;
}

.login-container{

    margin:auto;
    padding: 2em;
}

.welcome-body{
    background: url('image/eventbg.png');
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
.event-body{
    background: url('image/eventbg.png');
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.mid-div{
    display: flex;
    align-items: start;
}

.image{
    margin: 0px 16px;
    height: 150px;
    border-width: 5px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px black;
}
.title-body{
    width: 100%;
    margin: 0px 16px;
    padding: 0px 16px;
}

.title{
    font-size:xx-large;
    font-weight: bolder;
}
.event-title{
    font-weight: bolder;
}

.tutorial{
    margin: 8px 16px ;
    font-size: large;
}