


.login-body{

    display: flex;
    padding: 3em;
}

.login-container{

    margin:auto;
    padding: 2em;
}

.welcome-body{
    display: flex;
    flex-direction: column;
}

.title-body{
    width: 100%;
    margin: 0px 16px;
    padding: 0px 16px;
}

.tutorial-box{
    background-color: gainsboro;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    margin-bottom: 4em;
}


.title{
    font-size:xx-large;
    font-weight: bolder;
}

.tutorial{
    margin: 0px 8px ;
    font-size: large;
}